name: Bump version
on:
  push:
    tags:
      - '*'
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        with:
          tag_name: v${{ steps.git_short_hash.outputs.hash }}
          release_name: Release v${{ steps.git_short_hash.outputs.hash }}
          generateReleaseNotes: true 
          draft: false
